@model List<SportsEventsManagementSystem.Models.Competition>
@{
    ViewBag.Title = "Müsabaka Listesi";
}<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top" id="navigation-example">
    <div class="container-fluid pt-4 ml-1">
        <div class="navbar-wrapper">
            <a class="navbar-brand">@ViewBag.Message</a>
        </div>
        <div class="navbar-wrapper mr-2">
            <a class="nav-link material-icons" style="color: #18ce0f; " href="@Url.Action("Logout", "Home")">logout</a>
        </div>
    </div>
</nav>
<!-- End Navbar -->
<div class="content pt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title mt-0">Müsabaka Listesi</h4>
                        <br />
                        <a class="card-category text-white" style="font-size: 16px;" href="@Url.Action("AddCompetition", "Home")">
                            Müsabaka Ekle
                            <p class="material-icons" style="font-size: 20px;">add</p>
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Ev Sahibi</th>
                                        <th>Rakip</th>
                                        <th>Hakem</th>
                                        <th>Müsabaka Tarihi</th>
                                        <th>Müsabaka Saati</th>
                                        <th>Müsabaka Türü</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Id</th>
                                        <th>Ev Sahibi</th>
                                        <th>Rakip</th>
                                        <th>Hakem</th>
                                        <th>Müsabaka Tarihi</th>
                                        <th>Müsabaka Saati</th>
                                        <th>Müsabaka Türü</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Home</td>
                                        <td>@item.Away</td>
                                        <td>@item.Referee</td>
                                        <td>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", @item.Date))</td>
                                        <td>@item.Time</td>
                                        <td>@item.Type</td>
                                        <td>
                                            <a class="material-icons pr-2" style="color: #18ce0f; cursor: pointer;" href="@Url.Action("UpdateCompetition", "Home", new { @id = item.Id })">update</a>
                                            <a class="material-icons" style="color: red; cursor: pointer;" href="@Url.Action("DeleteCompetition", "Home", new { id = @item.Id })">delete</a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>