
@{
    ViewBag.Title = "Şifremi Unuttum";
}
<div class="content pt-4">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">@ViewBag.Title</h4>
                        <p class="card-category">
                            Şifreniz hakkında geri dönüş almak için bilgileri eksiksiz doldurmanız gerekmektedir.
                        </p>
                    </div>
                    <div class="card-body">
                        <form method="post" action="@Url.Action("ForgotPassword", "Home")">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Kullanıcı Adı</label>
                                        <input type="text" class="form-control" name="username" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Email</label>
                                        <input type="email" class="form-control" name="email" />
                                    </div>
                                </div>
                            </div>
                            <div class="text-warning">@ViewBag.ErrorMessage @ViewBag.Message</div>
                            <button type="submit" class="btn btn-primary pull-right" value="ForgotPassword">
                                Gönder
                            </button>
                            <a class="d-flex" style="color: #18ce0f;" href="@Url.Action("Login", "Home")">
                                <i class="material-icons">arrow_back</i>
                                <p class="pl-1 text-white">Giriş Sayfasına Dön</p>
                            </a>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
