@model SportsEventsManagementSystem.Models.User
@{
    ViewBag.Title = "Profil";
}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top" id="navigation-example">
    <div class="container-fluid pt-4 ml-1">
        <div class="navbar-wrapper">
            <a class="navbar-brand">@ViewBag.Message</a>
        </div>
        <div class="navbar-wrapper mr-2">
            <a class="nav-link material-icons" style="color: #18ce0f; " href="@Url.Action("Logout", "Home")">logout</a>
        </div>
    </div>
</nav>
<!-- End Navbar -->
<div class="content pt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-profile">
                    <div class="card-body">
                        <h4 class="card-header">@Session["Username"] Hoşgeldiniz..</h4>
                        <h4 class="card-title">@Session["Name"] @Session["Surname"]</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Bilgilerinizi Güncelleyin</h4>
                        <p class="card-category">
                            Bilgilerinizi güncellemek için eksiksiz doldurunuz.
                        </p>
                    </div>
                    <div class="card-body">
                        <form method="post" action="@Url.Action("UpdateUser", "Home")">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Kullanıcı Adı</label>
                                        <input type="text" class="form-control" name="Username"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Email Adresi</label>
                                        <input type="email" class="form-control" name="Email" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Adınız</label>
                                        <input type="text" class="form-control" name="Name"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Soyadınız</label>
                                        <input type="text" class="form-control" name="Surname" />
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right" value="UpdateUser" >
                                Bilgileri Güncelle
                            </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Şifrenizi Güncelleyin</h4>
                        <p class="card-category">
                            Şifrenizi güncellemek için eksiksiz doldurunuz.
                        </p>
                    </div>
                    <div class="card-body">
                        <form method="post" action="@Url.Action("UpdateUserPassword", "Home")">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Eski Şifre</label>
                                        <input type="password" class="form-control" name="OldPassword"/>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Yeni Şifre</label>
                                        <input type="password" class="form-control" name="Password" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Yeni Şifre Tekrar</label>
                                        <input type="password" class="form-control" name="NewPasswordRepeat" />
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right" value="UpdateUserPassword">
                                Şifreyi Güncelle
                            </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>